<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do-App</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body class="bg-gradient-to-r from-purple-400 to-pink-400 font-poppins">
    <header>
        <div class="flex items-center justify-between m-8 text-3xl">
            <div class="flex items-center">
                <h1 class="font-bold text-white text-2xl sm:text-4xl md:text-5xl">
                    <%=salutation%>
                </h1>
                <span class="text-2xl sm:text-3xl md:text-5xl">
                    <%=emoji%>
                </span>
            </div>
            <div>
                <h2 class="font-bold text-white text-lg sm:text-2xl md:text-3xl">
                    <%=day%>
                </h2>
            </div>
        </div>
    </header>
    <main>
        <div class="bg-white flex flex-col items-center mx-auto my-16 py-10 rounded-lg shadow-lg w-80 sm:w-96">
            <div class="bg-gradient-to-r from-purple-400 to-pink-400 border border-purple-300 flex justify-center mt-0 mb-1 p-2 rounded-lg shadow-md w-64 sm:w-80">
                <span class="font-bold text-white text-lg sm:text-2xl"><%=date%></span>
            </div>
            <div class="border border-purple-100 mt-3 p-3 rounded-lg shadow-sm w-64 sm:w-80 hover:bg-gradient-to-r from-pink-400 to-purple-400 hover:text-white transition ease-in-out delay-50 duration-200">
                <input type="checkbox" class="accent-pink-500 cursor-pointer" id="checkbox-1">
                <label for="checkbox-1" class="cursor-pointer font-bold mx-2 text-xs sm:text-sm">Drink Milk</label>
            </div>
            <div class="border border-purple-100 mt-3 p-3 rounded-lg shadow-sm w-64 sm:w-80 hover:bg-gradient-to-r from-pink-400 to-purple-400 hover:text-white transition ease-in-out delay-50 duration-200">
                <input type="checkbox" class="accent-pink-500 cursor-pointer" id="checkbox-2">
                <label for="checkbox-2" class="cursor-pointer font-bold mx-2 text-xs sm:text-sm">Drink Milk</label>
            </div>
        </div>
    </main>
</body>
</html>